@font-face {
  font-family: "Nunito extrabold";
  src: url("./../../Assets/fonts/Nunito-Black.woff") format("woff"),
    url("./../../Assets/fonts/Nunito-Black.ttf") format("truetype"),
    url("./../../Assets/fonts/Nunito-Black.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
